body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Momo Trust Display', Momo-Trust-Display;
    background-color: black;
}
nav{
    width: 100%;
    height: 45px;
    background-color: #640000;
    display: flex;
}
li{
    display: inline;
    color: white;
}
li a{
    color: white;
    text-decoration: none;
}
ul{
    display: flex;
    gap: 30px;
}
header{
    display: flex;
}
header .left{
    width: 600px;
    background-color: #7A0700;
    display: flex;
    padding: 25px;
}
header .left video{
    width: 600px;
    height: 300px;
    object-fit: cover;
    object-position: 25% 35%;
}
header .right{
    width: 100%;
    background-color: #900D00;
    color: white;
    display: flex;
    padding: 25px;
    font-size: 150%;
}
header .right h1{
    font-size: 150%;
    transition: font-size 1s ease;
}
header .right h1:hover{
    font-size: 300%;
}
header .right h1 span{
    color: #FF2F00;
}
section#card_1{
    display: flex;
    background-color: #A61400;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
    font-size: 40px;
    font-weight: bold;
}
article#card_2{
    display: flex;
    flex-direction: column;
    background-color: #BD1B00;
    padding: 25px;
    gap: 20px;
    font-size: 25px;
    font-weight: normal;
}
article#card_2 #judul{
    background-color: #D32200;
    display: flex;
    padding: 20px;
}
article#card_2 #deskripsi{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
article#card_2 #deskripsi img{
    width: 800px;
}
footer{
    display: flex;
    padding: 25px;
    font-size: 20px;
    font-weight: bold;
    background-color: #E92800;
    color: white;
}